<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <mat-nav-list role="list">
      <mat-list-item
        role="listitem"
        (click)="goPage('/assist-control', drawer)"
      >
        Inicio
      </mat-list-item>
      <mat-list-item
        role="listitem"
        (click)="goPage('/assist-control/my-registers', drawer)"
      >
        Mis Asistencias
      </mat-list-item>
      @if (isAdmin) {
        <mat-list-item
          role="listitem"
          (click)="goPage('/assist-control/my-registers', drawer)"
        >
          Reporte Asistencias
        </mat-list-item>
      }
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar class="mat-elevation-z2">
    <div>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>GVR: Control de Asistencia</span>
    </div>

    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content">
    <router-outlet />
  </div>
</mat-drawer-container>
